@media screen  and (max-width:1220px) {
	.about-me{
		padding:40px;
	}
	
}
@media screen and (max-width:1024px){
	.me img{
		width: 430px;
		margin-top: -10px;
	}
	.about-me .cv{
		margin-top: 30px;
	}
	.feedbackForm{
		padding-bottom: 30px;
	}
	.about-me{
		height:750px;
	}
}
@media screen  and (max-width:870px){
	.me {
		img{
			width: 380px;
		}
		p{
			margin-left: 25px;
		}
	}
	.nav{
		ul li{
			margin-left: -25px;
		}
		ul{
			margin-left: -30px;
		}
	}
}

@media screen and(max-width: 768px) {
	.me{
		img{
			width: 330px; 
		}
	}	
	.nav{
		margin-left: 150px;
	}
	.social{
		margin-top: 40px ;
	}
	.about-me{
		height:800px;
		padding:25px;

	}
}
@media screen and (max-width:710px) {
	.me{
		height: 500px;
		display:block;
		padding-top: 20px;
		img{
			display:block;
			margin:50px auto;
		}
		p{
			margin:0;
			text-align: center;
		}
	}
	.skillsWrapper{
		max-width: 550px !important;
	}
	.gamburger{
		display: flex !important;
		justify-content:right;

		i{
			color:white;
			font-size:50px;
			margin-top:-5px;
			margin-right:35px;
		}
	}
	.social{
		margin-top: -55px;
		i{
			font-size: 40px;
		}
	}
	.nav{
		display: none !important;
	}
	
}

@media screen and (max-width: 675px) {
	.about-me{
		height: 950px;
		
		text-align:center;
		
	}
	.skillsWrapper{
		max-width: 500px !important;

	}
}

@media screen  and (max-width: 575px) {
	.skillsWrapper{
		max-width: 450px !important;

	}
	.about-me{
		height: 1000px;	
	}
}
@media screen and (max-width:529px) {
	.feedbackForm  {
		.emailInvalid{
			position:absolute;
			top:2945px;
			left:150px;
		}
		.tel{
			position: absolute;
			left:130px;
			top:3000px;



		}
		.number{
			display: block;
			margin:0 auto ;
		}
		.description{
			margin-top: 25px !important;
		}	
	}
	.about-me{
		height: 1100px;	
	}
	.skillsWrapper{
		max-width: 80% !important;

	}
}


@media screen and(max-width: 475px) {
	.me{
		height: 550px;
		
	}
	.about-me{
		font-size: 18px;
		ul li{
			margin-left:0px !important;
		}
	}
	.skillsWrapper{
		div{
			height: 35px !important;
		}
		.Html,.Css,.Scss,.Js,.React,.Git,.Wordpress{
			height: 31px !important;

		}

	}
}

@media screen and(max-width: 450px) {
	.me{
		p{
			font-size:23px !important;
		}

	}
	.portfolio{
		height: 380px;
	}
	.about-me{
		height: 1250px;	
		
	}
	.emailInvalid{
		top:3080px !important;
		left:135px !important;


	}
	.tel{
		left:110px !important;
		top:3130px !important;
	}
	
}

@media screen and (max-width:425px) {
	.emailInvalid{
		top:3080px !important;
		
	}
	.tel{
		top:3135px !important;
	}
}
@media screen and(max-width: 420px) {
	.about-me{
		height: 1410px;	
		
	}
	.me{
		height: 650px;
		
	}
	.header img{
		width: 90px;
		margin:15px !important;
	}
	.emailInvalid{
		top:3255px !important;

	}
	.tel{
		left:90px !important;
		top:3310px !important;
	}
}
@media screen and(max-width: 375px){
	.header{
		height:160px !important;
	}
	.emailInvalid{
		top:3345px !important;
		left:115px !important;
		
	}
	.tel{
		top:3400px !important;
		left:80px !important;

	}
}

@media screen and(max-width:370px) {
	.about-me{
		height: 1080px;	
		padding: 9px !important;
		font-size:15px !important;
		span{font-size:15px !important;}
		ul {
			padding: 0px !important;
			li{font-size:15px ;}
			margin-left: 5px !important;
		}
	}
	.me{
		height: 650px;
		img{
			width: 300px;
		}
	}
	.skillsWrapper{
		margin-left:50px !important;
	}
	.cv{
		width: 210px !important;
		font-size:12px  !important;
		i{font-size:25px  !important;}
		

	}
	.emailInvalid{
		left:90px !important;
		top:2905px !important;


	}
	.tel{
		left:70px !important;
		top:2960px !important;
	}
	.portfolio{
		height: 280px;

	}
	.description{
		min-height: 150px !important;

	}
	.feedbackForm{
		height: 480px;
	}

}

@media screen  and (max-width:342px){
	.about-me{
		height: 1150px;	
	}
	.emailInvalid{
		left:90px !important;
		top:2973px !important;


	}
	.tel{
		left:70px !important;
		top:3027px !important;
	}
	.social{
		margin-right: -50px !important;

	}
	.msgs{
		margin-right: 55px !important;
		.social{
			margin-left: -70px !important;

		}
	}
}

@media screen and (max-width:320px){
	.about-me{
		height: 1200px !important;
	}
	.me{
		height: 550px !important;

	}
	.emailInvalid{

		top:2935px !important;
	}
	.tel{
		left:50px !important;
		top:2990px !important;
	}
	
}